body {
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
}

.nes-btn, .nes-input, .nes-textarea, .nes-select {
    font-size: 12px;
}

P {
    font-size: 8px;
}

label, b {
    font-weight: bold;
    font-size: 12px;
}

#toggleTable {
    position: fixed;
    left: 0%;
    bottom: 0%;
}

#info, #table-container {
    font-size: 6px;
    width: 20%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

table {
    width: 95%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    max-width: 25%;
    overflow: hidden;
}

th {
    font-weight: bold;
}

td {
    cursor: pointer;
}

th:nth-child(5) {
    max-width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#info h1, #info p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    font-weight: bold;
}


textarea {
    height: 80px;
}




#canvas {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 90%;
    height: 90%;
}
